@use "../../assets/styles/mixins" as mixin;

.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  height: 58px;
  background-color: var(--bg);
  color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  z-index: 2;
  img {
    width: 130px;
    cursor: pointer;
  }
  a {
    color: white;
    &:hover {
      color: var(--primary);
    }
  }
}

.headerList {
  @include mixin.xs {
    display: none;
  }
}

.headerXs {
  display: none !important;
  cursor: pointer;
  transition: opacity 0.2s;
  color: white;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.xs {
    display: block !important;
  }
}

.overlay {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  right: 0;
  top: 0;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 20;
  width: 50vw;
  height: 100vh;
  background-color: var(--gray-1);
  transform: translateX(100%);

  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.close_sidebar {
  display: flex;
  width: 100%;
  height: 58px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}
