@use "../../../assets/styles/mixins" as mixin;

.page {
  padding: 10px;
  h2 {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    padding-bottom: 5px;
  }
  @include mixin.md-lt {
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.img_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 0;
  background-color: white;
  border-radius: 500px;
}

.img {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.card {
  margin-top: 10px;
  width: fit-content;
  color: var(--gray-1);
  strong {
    margin-bottom: 10px;
  }
  input {
    border-radius: 20px;
    padding: 5px 10px;
    &:focus {
      border: 1px solid var(--primary);
      box-shadow: 0 0 3px var(--primary);
      outline-offset: 0px;
      outline: var(--primary);
    }
    border: 1px solid black;
  }
}

.Forgot {
  justify-content: flex-end;
  font-size: 0.8rem;
  a {
    text-decoration: underline;
  }
  a:hover {
    color: var(--primary);
    text-decoration-color: var(--primary);
  }
}

.edit_container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: black;
  padding: 2px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}

.edit {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modify {
  cursor: pointer;
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 10;
  font-size: 0;
}

.pointer {
  cursor: pointer;
}
