:root {
  --primary: #ce15be;
  --bg: #212121;
  --gray-1: rgb(44, 44, 44);
  --gray-2: #aaa;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
}
