.Forgot {
  justify-content: flex-end;
  font-size: 0.8rem;
  a {
    text-decoration: underline;
    &:visited {
      color: white;
    }
  }
  a:hover {
    color: var(--primary);
    text-decoration-color: var(--primary);
  }
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
  position: absolute;
  right: 5px;
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.tooltip:hover .tooltiptext {
  p {
    margin: 0;
  }
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 630%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  // background-color: #4caf50;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.underline {
  text-decoration: underline;
}

a:visited {
  color: #fff;
}
