@use "../../assets/styles/mixins" as mixin;

.container {
  @include mixin.md-lt {
    flex-direction: column;
  }
}
.onglets {
  background-color: #21202c;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 300px;
}

.page {
  width: 100%;
}

.Childs {
  width: 100%;
  height: 100%;
  @include mixin.md-lt {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}
